<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request is not for an existing file or directory, rewrite to /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/index.php [L]
</IfModule>


